[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pynput = "*"
pillow = "*"
pystray = "*"

[dev-packages]

[requires]
python_version = "3.11"

[scripts]
start = "python scripts/window_tracker.py"
