[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pynput = "*"
pillow = "*"
pystray = "*"
pandas = "*"
task-tracker = {file = ".", editable = true}

[dev-packages]

[requires]
python_version = "3.11"

[scripts]
start = "python scripts/window_tracker.py"
start2 = "python scripts/window_tracker_2.py"  # New command for your refactored version
